<label for="filtro-nome">Filtrar por nome</label>
{{input id="filtro-nome" value=nome}}

<br>

<table>
  <thead>
    <tr>
      <th>Nome</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |pessoa|}}
      <tr>
        <td>
          {{pessoa.nome}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>